#editing, #highlighting {
  position: absolute;
  top: 0;
  left: 0;
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: calc(100% - 32px);

  overflow-wrap:normal;
  word-wrap: none;
  overflow: scroll;
  white-space: pre;
  resize: none;

  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
  tab-size: 2;
}

#editing {
  background-color: darkslategray;
  caret-color: white;
}


#highlighting {
  appearance: textarea;
  color:whitesmoke;
  pointer-events: none;
}
#editing, #highlighting{
  /* Also add text styles to highlighing tokens */
  font-size: 15px;
  font-family: monospace;
  line-height: 25px;
  tab-size: 4;
}
