.component { 
  display: flex;
  flex-direction: row;
}

.editor {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  border: 1px;
  border-radius: 0px;
  border-color: black;
  padding: 1px;
  margin: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
  overflow-wrap:normal;
  word-wrap: none;
  overflow: scroll;
  white-space: pre;
  resize: none;

  font-size: 20px;
  line-height: 20px;
  font-family: monospace;
  tab-size: 4;
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  flex-grow: 1;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.highlighter{
  width: 80px;
  /* Both elements need the same text and space styling so they are directly on top of each other */
  border: 0;
  
  pointer-events: none;
  appearance: textarea;
}